<table border="1">
<thead>
<tr>
<% for day in @days %>
<td> <%= day.day %> </td>
<% end %>

</tr>
</thead>

<tr>

<% for day in @days %>
<td> 
<!-- Worktimes for -->
  <% for worktime in @worktimes %>

    <%= worktime.doctor.name %> 

    <% for w in worktime.not_reserved_hours(day) %>
        ...
        <%= w %> 
    <% end %>

  <% end %>

</td>
<% end %>

</tr>

</table>
