<div id="doctor_select">

      <%= collection_select(:doctor, :id, doctors, :id, :name, options = {:prompt => t(:choose_doctor)},
      {:onChange => remote_function( :url => {:action => "doctor_changed"}, :with => "'doctor_id='+this.value")}) %>

   <% if speciality  %>
      
      <%=  t(:no_of_doctors_with_speciality, {:speciality => speciality.name, :doctors_count => doctors.count}) %>

   <% end %>

   <% if place  %>

      <%=      t(:no_of_doctors_in_place, {:place => place.name, :doctors_count => doctors.count})  %>

   <% end %>

</div>
