<div id="speciality_select" >



   <%= collection_select(:speciality, :id, specialities, :id, :name, options ={:prompt => "== Choose speciality == "},
      { :onChange => remote_function( :url => {:action => "speciality_changed"}, :with => "'speciality_id='+this.value")} 
   ) %>

<% if place %>

   Number of kinds of specialists in <%= place.name %> equals <%= specialities.count %>

<% end %>

</div>