<h1>Visit Reservations</h1>



<div class="dictionaryDiv">

<% if @patient %>
List of reservations made by <%= @patient.name %> 
<% end %>

<span id="newRecordLink">
<%= link_to 'Make reservation' + image_tag(ApplicationHelper::SEARCH_IMG), search_available_worktimes_path(@patient) %>
</span>

<%= collection_table(@reservations, :id => 'visit_reservations', :class => 'dictionaryTable') do |t|
      t.header :when
      t.header :status
      t.header :action, :class => 'actionClass' 
      t.rows.alternate = :odd
      t.rows.each do |row, visit_reservation, index|
        row.when      visit_reservation.since.strftime(ApplicationHelper::DATETIME_FORMAT) if visit_reservation.since
        row.status      visit_reservation.status
        row.action   link_to(image_tag(ApplicationHelper::DELETE_IMG), visit_reservation, :confirm => 'Are you sure?', :method => :delete)  
      end     
    end
%>

</div>



