<h1>Editing speciality</h1>

<% form_for(@speciality) do |f| %>
  <%= f.error_messages %>

  <%= f.label :name, 'Name' %>:
  <%= f.text_field :name %><br />


  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

