<h1>Examination kinds</h1>


<div class="dictionaryDiv">

<span id="newRecordLink">
<%= link_to 'New examination kind' + image_tag(ApplicationHelper::ADD_IMG), new_examination_kind_path %>
</span>

<%= collection_table(@examination_kinds, :id => 'examination_kinds', :class => 'dictionaryTable') do |t|
      t.header :name
      t.header :action, :class => 'actionClass' 
      t.rows.alternate = :odd
      t.rows.each do |row, examination_kind, index|
        row.name      examination_kind.name
        row.action   link_to(image_tag(ApplicationHelper::EDIT_IMG), edit_examination_kind_path(examination_kind)) + 
                     link_to(image_tag(ApplicationHelper::DELETE_IMG), edit_examination_kind_path(examination_kind))  
      end     
    end
%>

</div>
