<h1>Visit registering</h1>

<%= render :partial => "visit", :locals => {:visit => @visit, :visit_reservations => @visit_reservations, :button => "Create", :edit => false, :visit_since => Time.now, :visit_minutes => 15} %>

